<!-- <div class="row">
  <div class="col-md-12">
     <h1 [ngStyle]="{'border': 1px solid black}">This is directive ex</h1> 
  </div>
</div> -->

 <div class="container">
<div class="row">
  <div class="col-md-4 box" appMagicColor></div>
  <div class="col-md-4 box" appMagicColor></div>
  <div class="col-md-4 box" appMagicColor></div>
</div>

<div class="row">
  <div class="col-md-4 box" appMagicColor></div>
  <div class="col-md-4 box" appMagicColor></div>
  <div class="col-md-4 box" appMagicColor></div>
</div>
</div> 

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <input type="text" [appInputMagic]>
    </div>
  </div>
</div><br>

<div class="container">
  <div class="row">
    <div class="col-md-6">
        <img src='../../assets/smiling-face.png' alt='smiling-face' appInputMagic>
    </div>
  </div>
</div> 

<div class="container">
  <div class="row" *ngFor="let info of mobiles" >
    <div class="col-md-12">
      <app-info-card [info]="info"></app-info-card>
    </div>
  </div>
</div> 